* {
  box-sizing: border-box;
}


body {
  height: 100vh;
  background-color: #e9ecef;
}

.header {
  background-color: #3a506b;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 9rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.website-title {
  display: flex;
  align-items: center;
}

div.website-title > i {
  margin-right: 15px;
}

.cart-container {
  color: white;
  margin: 0;
  font-weight: 400;
}

.cart-container > i {
  margin-left: 10px;
  cursor: pointer;
}

.main {
  background-color: #e9ecef;
  padding: 2rem 9rem;
}

.product-list {
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.item-container {
  width: 32%;
  background-color: white;
  border: 1px solid #6c757d;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
}

.item-img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  margin-bottom: 10px;
}

div > h6 {
  color: #6c757d;
}

.back-to-catalog-button {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  color: #6c757d;
  margin-bottom: 10px;
}

.back-to-catalog-button > h6 {
  margin: 0 0 0 10px;
}

.i-size {
  font-size: 14px;
}

.detail-container {
  border: 1px solid #6c757d;
  border-radius: 5px;
  padding: 25px;
  background-color: white;
}

.detail-img {
  height: 55vh;
  object-fit: contain;
}

.long-description {
  margin-top: 20px;
  text-align: justify;
}

.btn-color {
  color: #3a506b;
  border-color: #3a506b;
}

.btn-color:hover {
  background-color: #3a506b;
  border-color: #3a506b;
}
